cottidae_pre.csv
gadidae.fasta
gadidae_asv_id.csv
gadidae_results.txt
oncorhynchus.fasta
oncorhynchus_asv_id.csv
oncorhynchus_results.txt
pleuronectidae_pre.csv
remaining_pre.csv
samples_w_mock
sebastidae_pre.csv
single_spp.csv
single_spp_taxon.csv
stichaeidae_pre.csv
tax_df_20240717.csv
all_taxa_simple_20250110.csv
decontaminated_asv_table.csv
